@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700");
* {
  font-family: "Roboto", sans-serif; }

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden; }

.title {
  height: 100px;
  margin-top: 20px;
  line-height: 100px;
  font-size: 100px;
  vertical-align: middle;
  padding-left: 30px;
  font-weight: 400;
  color: #FF691E;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: default; }

.subtitle {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  vertical-align: middle;
  padding-left: 36px;
  font-weight: 400;
  color: #10705C;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: default; }

.container {
  width: 70%;
  height: 100%;
  background-color: white;
  position: relative;
  margin: 0 auto; }

input[type=file] {
  display: none; }

input[type=submit] {
  display: none; }

.middle {
  height: 40px;
  width: 100%;
  margin-top: 60px;
  position: relative;
  float: left; }

.job_title {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: default;
  position: relative;
  float: left;
  width: 50%;
  margin-left: 35px;
  font-weight: 300;
  font-size: 30px;
  color: #777777;
  height: 40px;
  line-height: 40px;
  vertical-align: middle; }

.filter {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: default;
  cursor: pointer;
  position: relative;
  float: right;
  width: 30%;
  margin-right: 40px;
  text-align: center;
  line-height: 40px;
  color: #777777;
  height: 40px;
  vertical-align: middle; }

.filter_arrow {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: default;
  position: relative;
  font-stretch: expanded;
  float: right;
  margin-top: -5px;
  color: #777777;
  cursor: pointer;
  font-size: 30px;
  line-height: 40px; }

table {
  margin-top: 30px;
  width: 100%;
  position: relative;
  float: left;
  color: #777777;
  border-collapse: collapse; }

td {
  font-size: 20px;
  line-height: 50px;
  height: 50px;
  vertical-align: middle;
  text-align: center; }

tr {
  border-bottom-style: solid;
  border-bottom-color: #bdbdbd;
  border-bottom-width: 2px; }

th {
  font-weight: 400;
  font-size: 12px; }

.score {
  color: #10705C;
  font-weight: 700; }

.details {
  font-size: 16px;
  height: 25px;
  line-height: 25px;
  padding: 1px 15px;
  border: solid 2px;
  position: relative;
  float: left;
  margin: 0px 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: default;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer; }
  .details:hover {
    background-color: #FF691E;
    color: white;
    border-color: #FF691E; }

#details_popup {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 70%;
  height: 400px;
  display: none;
  opacity: 0;
  background-color: white;
  z-index: 999999;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  #details_popup > #x_button {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 10px;
    margin-top: 10px;
    cursor: pointer; }
    #details_popup > #x_button > .element {
      width: 30px;
      height: 4px;
      top: 20px;
      background-color: black;
      position: fixed;
      cursor: pointer; }
      #details_popup > #x_button > .element.e1 {
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg); }
      #details_popup > #x_button > .element.e2 {
        transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg); }

/*# sourceMappingURL=results.css.map */
